body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
   
}
.orange{
    color: orange;
}

.border{
    border-left: 3px solid salmon;
    font-size: 40px;
    margin-left: 8px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
 
   
}
.half-width img{
    width: 60%;
    margin-left: 10%;
}
.flexible-container{
    display: flex;
    margin-left: 10px;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.navy{
    color: navy;
 
}
.center{
    text-align: center;
    font-size: 40px;
}
.mission {
    border-radius: 25px;
    width:29%;
    display: inline-block;
    background-color: skyblue;
    margin-left: 15px;
  
  }
  .vision {
    border-radius: 25px;
         width:31%;
         display: inline-block;
         background-color:palevioletred;
         margin-left: 30px;
  }
  .goals{
      border-radius: 25px;
         width:33%;
         display: inline-block;
         background-color:plum;
         margin-left: 30px;
         margin-bottom: 80px;
         
         
  }
  .container {
    padding: 20px 16px;
  }
  .img-responsive{
    width:33.33%;
    margin-left: 10px;
}
.dev{
    font-weight: 400;
    font-family:sans-serif;
   
}




